<!DOCTYPE html>
<html lang="en">
<head>
	<title>Main page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<p>Это сайт проекта Кати Герасименко.</p>
<p>Код проекта лежит <a href='https://github.com/kategerasimenko/Python_3_year/tree/master/flask_pymystem3'>тут</a>.
<p>Что можно сделать:
<ul>
<li><a href='/counts'>Посмотреть информацию о глаголах в тексте</a></li>
<li><a href='/vk_wordforms'>Посмотреть самые частотные словоформы в постах группы ВК</a></li>
</ul>
</p>
</body>
</html>