<!DOCTYPE html>
<html lang="en">
<head>
	<title>Main page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href='static/styles.css'>
</head>
<body>
<div id="main">
<h1>Это сайт проекта Кати Герасименко.</h1>
<p>Код проекта лежит <a href='https://github.com/kategerasimenko/Python_3_year/tree/master/flask_pymystem3'>тут</a>.
<p>Что можно сделать:
<ul>
<li><a href='/counts'>Посмотреть информацию о глаголах в тексте</a></li>
<li><a href='/vk_wordforms'>Посмотреть самые частотные словоформы в постах группы ВК</a></li>
<li><a href='/change_words'>Поменять слова в тексте на другие</a></li>
</ul>
</p>
<div id="meme_div"><img src='static/meme.png' id="meme"></img></div>
</div>
</body>
</html>